{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href={{ asset('css/single-ressource.css') }}>
    {% endblock %}
    <main class="container">
        <section class="ressources">
            <h1>{{ post.getTitle() }}</h1>
            <article>
                <h2>Lieu d'activité : </h2>
                <p>{{ post.getAddress() }}</p>
            </article>
            <h2>Type :</h2>
            <p> {{ post.getType().name }}</p>
        </section>
        <section style="position: relative;min-height: 70vh; margin-top:40px">
            {% for img in images %}
                <img src="{{ img.src }}" alt="Rencontre" style="position: absolute; top:{{ img.y }}px; left:{{ img.x }}px; width: {{ img.width }}px; height: {{ img.height }}px; z-index:-1;">
            {% endfor %}
            {% for paragraph in paragraphes %}
                <div style="position: absolute; top:{{ paragraph.y }}px; left:{{ paragraph.x }}px; width: {{ paragraph.width }}px; height: {{ paragraph.height }}px; z-index:-1;">
                    {{ paragraph.getContent()|raw }}
                </div>
            {% endfor %}
        </section>
        <section class="actions-section">
    <article class="actions">



        <form action="{{ path('app_post_like', {'id': post.getId()}) }}" method="post">

    <button type="submit" class="like-link">
        {% if existingLike %}
            <img src="{{ asset('medias/like-yellow.png')}}" alt="Liker">
        {% else %}
            <img src="{{ asset('medias/like-green.png')}}" alt="Liker">
        {% endif %}
    </button>
</form>



        <a href="#">
            <img src="{{ asset('medias/favorite-green.png')}}" alt="Enregistrer">
        </a>
        <a href="#">
            <img src="{{ asset('medias/exploited-green.png')}}" alt="Exploiter">
        </a>
        <a href="#">
            <img src="{{ asset('medias/send-green.png')}}" alt="Partager">
        </a>
    </article>
    <article class="space">
        <div class="line"></div>
        <h3>Commentaires</h3>
        <div class="line"></div>
    </article>
</section>


        <section class="comment-section">
            <article class="comment">
                <div class="comment-user">
                    <img src="{{ asset('medias/user-green.png')}}" alt="Avatar user">
                    <a href="#">User 1</a>
                </div>
                <div>
                    <p>Aenean dapibus consectetur urna eget hendrerit. Nulla fringilla, dolor vitae consectetur sodales, nulla quam tristique mauris, vel tempor quam nisl blandit magna.</p>
                </div>
                <div class="comment-actions">
                    <img src="{{ asset('medias/like-green.png')}}" alt="like">
                    <a href="#add-comment">Répondre</a>
                </div>
            </article>
            <article class="answer-comment comment">
                <div class="comment-user">
                    <img src="{{ asset('medias/user-green.png')}}" alt="Avatar user">
                    <a href="#">User 2</a>
                </div>
                <div>
                    <p><a href="#">@user1</a> Aenean dapibus consectetur urna eget hendrerit. Nulla fringilla, dolor vitae consectetur sodales, nulla quam tristique mauris, vel tempor quam nisl blandit magna.</p>
                </div>
                <div class="comment-actions">
                    <img src="{{ asset('medias/like-green.png')}}" alt="like">
                    <a href="#add-comment">Répondre</a>
                </div>
            </article>
            <article class="comment">
                <div class="comment-user">
                    <img src="{{ asset('medias/user-green.png')}}" alt="Avatar user">
                    <a href="#">User 3</a>
                </div>
                <div>
                    <p>Aenean dapibus consectetur urna eget hendrerit. Nulla fringilla, dolor vitae consectetur sodales, nulla quam tristique mauris, vel tempor quam nisl blandit magna.</p>
                </div>
                <div class="comment-actions">
                    <img src="{{ asset('medias/like-green.png')}}" alt="like">
                    <a href="#add-comment">Répondre</a>
                </div>
            </article>
        </section>
        {# Afficher les commentaires existants #}
        <section class="comment-section">
            {# colonnne que t'as rajouté est égal à zero #}
            {% for comment in comments %}
                {% if comment.getIsResponse() == 0 %}
                <article class="comment">
                    <div class="comment-user">
                        {% if comment.getUser().getAvatarImg() is not null %}
                            <img src="{{ asset('profiles/' ~ comment.getUser().getAvatarImg()) }}" alt="Avatar de l'utilisateur">
                        {% else %}
                            <img src="{{ asset('medias/user-green.png') }}" alt="Avatar par défaut">
                        {% endif %}
                        <a href="#">{{ comment.getUser().getFirstName() }} {{ comment.getUser().getLastName() }}</a>
                    </div>
                    <div>
                        <p>{{ comment.getContent() }}</p>
                    </div>
                    <div class="comment-actions">
                        <a href="#reply" class="buttomResponse" data-target="responseForm{{ comment.id }}">Répondre</a>
                    </div>
                    <div id="responseForm{{ comment.id }}">
                        <form action="/comment/response/{{ post.id }}" method="post" style="display: none">
                            <input type="hidden" name="comment-id" value="{{ comment.id }}">
                            <div>
                                <label for="response-comment">Répondre au commentaire</label>
                                <input id="response-comment" name="response-comment">
                            </div>
                            <button type="submit">Répondre</button>
                        </form>
                    </div>
                </article>
                {% endif %}
                {# Afficher les réponses aux commentaires s'il y en a #}
                {% for response in comment.getCommentResponses() %}
                    {# if getcommentResponses.getCommenttoComment == comment.id #}
                    <article class="answer-comment comment">
                        <div class="comment-user">
                            {% if response.getCommentToComment().getUser().getAvatarImg() is not null %}
                                <img src="{{ asset('profiles/' ~ response.getCommentToComment().getUser().getAvatarImg()) }}" alt="Avatar de l'utilisateur">
                            {% else %}
                                <img src="{{ asset('medias/user-green.png') }}" alt="Avatar par défaut">
                            {% endif %}
                            <a href="#">{{ response.getCommentToComment().getUser().getFirstName() }} {{ response.getCommentToComment().getUser().getLastName() }}</a>
                        </div>
                        <div>
                            <p>{{ response.getComment().getContent() }}</p>
                        </div>
                        <div class="comment-actions">
                            <a href="#reply">Répondre</a>
                        </div>
                    </article>
                {% endfor %}
            {% endfor %}
        </section>

        <section>
            <form action="/comment/add/{{ post.id }}" method="post">
                <label for="comment">Ajouter un commentaire</label>
                <input type="text" id="comment" name="comment">
                <button type="submit">Envoyer</button>
            </form>
        </section>

    </main>
    <script>
        let buttomsResponse = document.querySelectorAll('.buttomResponse');
        const replyForms = document.querySelectorAll('.comment form');

        buttomsResponse.forEach(btn => {
            btn.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const targetFormDiv = document.getElementById(targetId);
                console.log(targetFormDiv, targetId);
                const targetForm = targetFormDiv.querySelector("form");
                if (targetForm) {
                    // Masquer tous les formulaires de réponse
                    replyForms.forEach(form => {
                        if (form !== targetForm) {
                            form.style.display = 'none';
                        }
                    });
                    // Afficher le formulaire de réponse cible
                    targetForm.style.display = 'block';
                }
            });
        });
    </script>
{% endblock %}