{% extends 'base.html.twig' %}
{% block body %}

    <style>
        .footer{
            position: fixed;
            bottom: 0px;
            width: 100%;
        }
        body{
            position: relative;
            min-height: 100vh;
        }
        main {
            padding-top: 90px;
            padding-bottom: 100px;
        }
        @media (min-width: 768px){
            .footer{
                position: static;
            }
        }
    </style>
    <body>
    <main class="container">

        {% if app.user %}
    <!--Connnected-->
        {% block stylesheetsConnected %}
            <link rel="stylesheet" href={{ asset('css/user.css') }}>
    <section id="data-user">
        <article id="avatar-section">
            <div class="autor"> 
                {% if user.getAvatarImg() is not null %}
                    <img src="{{ asset('profiles/' ~ user.getAvatarImg()) }}" alt="Avatar de l'user">
                {% else %}
                    <img src="{{ asset('medias/user-green.png') }}" alt="Avatar par défaut">
                {% endif %}
            </div>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            <p>{{ user.getRoles[0] }}</p>
        </article>

        <article class="container" id="stats-section">
            <div class="stats-section">
                <div>
                    <p class="data-user">7</p>
                    <p>Ressources</p>
                </div>
                <div>
                    <p class="data-user">75</p>
                    <p>Abonnements</p>
                </div>
                <div>
                    <p class="data-user">52</p>
                    <p>Abonnés</p>
                </div>
            </div>
        </article>
    </section>
    <section id="post-section" style="margin-top: 50px;">
        {% set sortedPosts = posts|sort((a, b) => b.id - a.id) %}
        {% for post in sortedPosts %}
        <div>
            {% if imageSrc[post.id] is not null %}
                <div class="img-ressource">
                    <img class="img-ressource" src="{{ asset(imageSrc[post.id]) }}" alt="Image du Post">
                </div>
            {% endif %}
            <h2 class="title-ressource">{{ post.title }}</h2>
            <p class="description-ressource">{{ post.description }}</p>
            <button class="button-more-ressource" type="button"><a href="{{ path('app_post_detail', {'id': post.id}) }}">En savoir plus</a></button>
        </div>
        {% endfor %}
    </section>
        {%  endblock %}
        {% endif %}
</main>

    </body>
{% endblock %}
